:root {
  --pink: #f48b94;
  --light-pink: #ffd4d8;
  --dark-pink: #c2545c;
  --off-white: #fdf7f7;
  --text-main: #8c4b57;
  --text-history: #af8990;
  --shadow: #683740;
  --bg-color: #fcebeb;
}

body {
  display: flex;
  font-family: 'Inter', sans-serif;
  background-color: var(--off-white);
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid var(--shadow);
  box-shadow: 6px 8px var(--shadow);
}

.top-bar {
  background: var(--pink);
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  border-bottom: 1.6px solid var(--shadow);
  border-radius: 18px 18px 0 0;
  color: var(--off-white);
  user-select: none;
}

.top-bar .icon {
  width: 60px;
  height: 60px;
  
  margin-left: -6px;
}
.top-bar .icon svg {
  fill: var(--off-white);
}

.top-bar .title {
  flex-grow: 1;
  font-weight: 600;
  font-size: 14px;
  color: var(--text-main);
}

.top-bar .buttons {
  display: flex;
  gap: 8px;
}
.top-bar button {
  background: transparent;
  border: none;
  font-weight: 700;
  text-align: center;
  color: var(--text-main);
  transition: background 0.2s ease;
  padding: 0 5px; 
  line-height: 1;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

.top-bar button:hover {
  background: var(--light-pink);
}


.display {
  background: var(--off-white);
  color: var(--text-main);
  height: 80px;
  padding: 12px 24px 20px 24px; 
  font-weight: 700;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.display .history {
  font-size: 18px;
  color: var(--text-history);
  min-height: 20px;
  margin-bottom: 4px;
}

.display .current-operand {
  font-size: 48px;
  width: 100%; 
  text-align: right;
}


.buttons-grid {
  background: var(--light-pink);
  padding: 20px 20px 24px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-auto-rows: minmax(48px, auto); 
  border-radius: 15px 15px 15px 15px; 
  grid-gap: 12px;
}

.btn {
  background: var(--off-white);
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-main);
  box-shadow: 2px 2px 0 var(--shadow);
  border: 1.6px solid var(--shadow);
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  transition: background 0.15s ease, transform 0.1s ease;
}
.btn:hover {
  background: #f1e5e7;
}
.btn:active {
    box-shadow: 0 0 0 var(--shadow);
    transform: translate(2px, 2px);
}

/* Styling special buttons */
.btn.clear,
.btn.delete,
.btn.equals {
    color: var(--off-white);
    border-color: var(--shadow);
}

.btn.clear {
    background-color: var(--pink);
}
.btn.clear:hover {
    background-color: var(--dark-pink);
}

.btn.delete {
    background-color: var(--pink) /* A slightly different color for DEL */
}
.btn.delete:hover {
    background-color: #d88b75;
}

.btn.equals {
    background-color: var(--pink);
}
.btn.equals:hover {
    background-color: var(--dark-pink);
}